#mainWrap{
	font-family:Arial, Helvetica, sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 960px;
}

.borderWrap{
	border: 1px solid #5A8AC8;
	width: 930px;	
	padding: 15px;
}

/*-- Form --*/
.form{
	text-align: left;
}
.form label{
	display: inline-block;
	width: 120px;
	font-weight: bold;
}
.form input[type="text"]{
	border: 1px solid #666;
	width: 324px;
	padding: 4px 8px;
}
.form textarea{
	border: 1px solid #666;
	width: 324px;
	padding: 5px 8px;
}
.form .inpWrap{
	margin-bottom: 10px;
}
/*-- Notifications --*/
.notification{
	margin-bottom:15px;
}
.errors p{
	color: #ff0000;
	font-size: 12px;
	margin: 5px 0;
}
/*-- Gallery --*/
ul.gallery{float:left}
ul.gallery li{
	float: left;
	list-style: none;
	margin: 0 15px 10px 0;
}
iframe{
	overflow-x: hidden;
}
.viewImageWrap{
	padding: 10px;
	width: 960px;
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}
/* Pagination Styles */
.pagination span {
	width: 25px;
	line-height: 25px;
	display: block;
	float: left;
	text-align: center;
	font-size: 1.3em;
	vertical-align: middle;
	margin-left: 2px;
	margin-bottom: 8px;
	border: 1px solid #DDDDDD;
	font-weight: bold;
}
.pagination span.current {
	border: 0;
}
.pagination span a {
	text-decoration: none;
	font-size: inherit;
	display: block;
	font-weight: inherit;
}
.pagination span a:hover {
	background-color: #F3F3F3;
}
